<h1 style="color:blue;">Scenario 9 - DATA 6310</h1> 

- C2.S9.Py01	Clean up upper and lower case text using pandas
- C2.S9.Py02	Strip and replace text using Pandas 
- C2.S9.Py03	Convert dates and extract month and year 
- C2.S9.Py04	Split columns and format for export

In [2]:
#Code Block 1

import pandas as pd
import numpy as np
import datetime as dt

# New trick to widen the screen
from IPython.core.display import display, HTML

#Widens the code landscape 
display(HTML("<style>.container { width:95% !important; }</style>"))


pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

/var/folders/ww/gvxz55x16sj2qt6_7hv99n0w0000gn/T/ipykernel_34036/1443633388.py:8: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

### Business hotel licenses within the city of Chicago
- This dataset contains all current and active business licenses issued by the Department of Business Affairs and Consumer Protection. 
- https://data.cityofchicago.org/Community-Economic-Development/hotel-in-the-center-of-the-city/vcf9-ubdz/data

### Business Objective
- Work the Chicago Tourism Commission with data pertaining to licensing
- Clean and analyze the license data to monitor the number of expiring licenses per month.

### Technical Objective
- Clean up and reformat text
- Split columns to create multiple columns 
- Create new fields for time duration

In [5]:
#Code Block 2

url = 'Scenario9_Data/Scenario09.csv'
df_chicago = pd.read_csv(url, index_col=None)
df_chicago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       384 non-null    object
 1   LICENSE_ID               384 non-null    int64
 2   ACCOUNT_NUMBER           384 non-null    int64
 3   SITE_NUMBER              384 non-null    int64
 4   LEGAL_NAME               384 non-null    object
 5   BUSINESS                 384 non-null    object
 6   ADDRESS                  384 non-null    object
 7   CITY                     384 non-null    object
 8   STATE                    384 non-null    object
 9   ZIPCODE                  384 non-null    object
 10  WARD                     384 non-null    int64
 11  PRECINCT                 358 non-null    float64
 12  LICENSE_CODE             384 non-null    int64
 13  LICENSE_DESCRIPTION      384 non-null    object
 14  LICENSE_NUMBER           384 non-null    int64
 15  LICENSE_TERM_START       384 non-null    object
 16  LICENSE_TERM_EXPIRATION  384 non-null    object
 17  LOCATION                 384 non-null    object
dtypes: float64(1), int64(6), object(11)
memory usage: 54.1+ KB

In [6]:
#Code Block 3

df_chicago.head()

,ID,LICENSE_ID,ACCOUNT_NUMBER,SITE_NUMBER,LEGAL_NAME,BUSINESS,ADDRESS,CITY,STATE,ZIPCODE,WARD,PRECINCT,LICENSE_CODE,LICENSE_DESCRIPTION,LICENSE_NUMBER,LICENSE_TERM_START,LICENSE_TERM_EXPIRATION,LOCATION
0,48231-20130316,2226069,16964,6,RENAISSANCE HOTEL OPERATING COMPANY,RENAISSANCE CHICAGO HOTEL,1 W WACKER DR SERV/,CHICAGO,il,60601 -,42,9.0,1475,Consumption on Premises - Incidental Activity,48231,3/16/13 9:53,3/15/15,"(41.88670422864661, -87.62805355978018)"
1,2320391-20190116,2635561,386344,1,VIRGIN HOTELS CHICAGO LLC,VIRGIN HOTELS CHICAGO LLC,203 N WABASH AVE,CHICAGO,il,60601-,42,9.0,1006,Retail Food Establishment,2320391,1/16/19 16:35,1/15/21,"(41.885828292802344, -87.62613826248786)"
2,49253-20161016,2485088,64451,1,"CONGRESS PLAZA HOTEL, LLC",THE CONGRESS HOTEL,520 S MICHIGAN AVE,CHICAGO,il,60605-,42,49.0,1475,Consumption on Premises - Incidental Activity,49253,10/16/16 21:52,10/15/18,"(41.87525982581901, -87.6243966738356)"
3,2314251-20190116,2635577,388602,1,"VHC MIDDLE, LLC",UPSTAIRS VIRGIN HOTELS,203 N WABASH AVE 25,CHICAGO,il,60601-,42,9.0,1050,Public Place of Amusement,2314251,1/16/19 16:54,1/15/21,"(41.885828292802344, -87.62613826248786)"
4,1803050-20140916,2345954,314818,1,KHRG ALLEGRO LLC,HOTEL ALLEGRO,171 W RANDOLPH ST 1-19,CHICAGO,il,60601-,42,9.0,1006,Retail Food Establishment,1803050,9/16/14 6:27,9/15/16,"(41.88436187748195, -87.63316453760919)"

<h2 style="color:blue;">Clean up upper and lower case text using pandas</h2>

### Clean up text using pandas

### Work with upper, lower, and title
- Use string handling methods for a pd.Series
- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.upper.html#pandas.Series.str
    - lower() - Converts all characters to lowercase.
    - upper() - Converts all characters to uppercase.
    - title() - Converts first character of each word to uppercase and remaining to lowercase.
    - capitalize() - Converts first character to uppercase and remaining to lowercase.
    - swapcase() - Converts uppercase to lowercase and lowercase to uppercase.
    - casefold() - Removes all case distinctions in the string.
    
#### DataFrame vs. Series

- **DataFrame** - Two-dimensional, size-mutable, potentially heterogeneous tabular data.
    - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html?highlight=dataframe#pandas.DataFrame
- **Series** - One-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index. 
    - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html#pandas.Series

### upper ( )

In [10]:
#Code Block 4

print (df_chicago.STATE.str.upper().head())

0    IL
1    IL
2    IL
3    IL
4    IL
Name: STATE, dtype: object

In [11]:
#Code Block 5

df_chicago['STATE'] = df_chicago.STATE.str.upper()
df_chicago.head()

,ID,LICENSE_ID,ACCOUNT_NUMBER,SITE_NUMBER,LEGAL_NAME,BUSINESS,ADDRESS,CITY,STATE,ZIPCODE,WARD,PRECINCT,LICENSE_CODE,LICENSE_DESCRIPTION,LICENSE_NUMBER,LICENSE_TERM_START,LICENSE_TERM_EXPIRATION,LOCATION
0,48231-20130316,2226069,16964,6,RENAISSANCE HOTEL OPERATING COMPANY,RENAISSANCE CHICAGO HOTEL,1 W WACKER DR SERV/,CHICAGO,IL,60601 -,42,9.0,1475,Consumption on Premises - Incidental Activity,48231,3/16/13 9:53,3/15/15,"(41.88670422864661, -87.62805355978018)"
1,2320391-20190116,2635561,386344,1,VIRGIN HOTELS CHICAGO LLC,VIRGIN HOTELS CHICAGO LLC,203 N WABASH AVE,CHICAGO,IL,60601-,42,9.0,1006,Retail Food Establishment,2320391,1/16/19 16:35,1/15/21,"(41.885828292802344, -87.62613826248786)"
2,49253-20161016,2485088,64451,1,"CONGRESS PLAZA HOTEL, LLC",THE CONGRESS HOTEL,520 S MICHIGAN AVE,CHICAGO,IL,60605-,42,49.0,1475,Consumption on Premises - Incidental Activity,49253,10/16/16 21:52,10/15/18,"(41.87525982581901, -87.6243966738356)"
3,2314251-20190116,2635577,388602,1,"VHC MIDDLE, LLC",UPSTAIRS VIRGIN HOTELS,203 N WABASH AVE 25,CHICAGO,IL,60601-,42,9.0,1050,Public Place of Amusement,2314251,1/16/19 16:54,1/15/21,"(41.885828292802344, -87.62613826248786)"
4,1803050-20140916,2345954,314818,1,KHRG ALLEGRO LLC,HOTEL ALLEGRO,171 W RANDOLPH ST 1-19,CHICAGO,IL,60601-,42,9.0,1006,Retail Food Establishment,1803050,9/16/14 6:27,9/15/16,"(41.88436187748195, -87.63316453760919)"

### lower ( )

In [13]:
#Code Block 6

print (df_chicago.CITY.str.lower().head())

0    chicago
1    chicago
2    chicago
3    chicago
4    chicago
Name: CITY, dtype: object

### title ( )

In [15]:
#Code Block 7

print (df_chicago.CITY.str.title().head())

0    Chicago
1    Chicago
2    Chicago
3    Chicago
4    Chicago
Name: CITY, dtype: object

In [16]:
#Code Block 8

df_chicago['CITY'] = df_chicago.CITY.str.title()
df_chicago.head()

,ID,LICENSE_ID,ACCOUNT_NUMBER,SITE_NUMBER,LEGAL_NAME,BUSINESS,ADDRESS,CITY,STATE,ZIPCODE,WARD,PRECINCT,LICENSE_CODE,LICENSE_DESCRIPTION,LICENSE_NUMBER,LICENSE_TERM_START,LICENSE_TERM_EXPIRATION,LOCATION
0,48231-20130316,2226069,16964,6,RENAISSANCE HOTEL OPERATING COMPANY,RENAISSANCE CHICAGO HOTEL,1 W WACKER DR SERV/,Chicago,IL,60601 -,42,9.0,1475,Consumption on Premises - Incidental Activity,48231,3/16/13 9:53,3/15/15,"(41.88670422864661, -87.62805355978018)"
1,2320391-20190116,2635561,386344,1,VIRGIN HOTELS CHICAGO LLC,VIRGIN HOTELS CHICAGO LLC,203 N WABASH AVE,Chicago,IL,60601-,42,9.0,1006,Retail Food Establishment,2320391,1/16/19 16:35,1/15/21,"(41.885828292802344, -87.62613826248786)"
2,49253-20161016,2485088,64451,1,"CONGRESS PLAZA HOTEL, LLC",THE CONGRESS HOTEL,520 S MICHIGAN AVE,Chicago,IL,60605-,42,49.0,1475,Consumption on Premises - Incidental Activity,49253,10/16/16 21:52,10/15/18,"(41.87525982581901, -87.6243966738356)"
3,2314251-20190116,2635577,388602,1,"VHC MIDDLE, LLC",UPSTAIRS VIRGIN HOTELS,203 N WABASH AVE 25,Chicago,IL,60601-,42,9.0,1050,Public Place of Amusement,2314251,1/16/19 16:54,1/15/21,"(41.885828292802344, -87.62613826248786)"
4,1803050-20140916,2345954,314818,1,KHRG ALLEGRO LLC,HOTEL ALLEGRO,171 W RANDOLPH ST 1-19,Chicago,IL,60601-,42,9.0,1006,Retail Food Establishment,1803050,9/16/14 6:27,9/15/16,"(41.88436187748195, -87.63316453760919)"

In [17]:
#Code Block 9

df_chicago['LEGAL_NAME'] = df_chicago.LEGAL_NAME.str.title()
df_chicago['BUSINESS'] = df_chicago.BUSINESS.str.title()
df_chicago['ADDRESS'] = df_chicago.ADDRESS.str.title()
df_chicago.head()

,ID,LICENSE_ID,ACCOUNT_NUMBER,SITE_NUMBER,LEGAL_NAME,BUSINESS,ADDRESS,CITY,STATE,ZIPCODE,WARD,PRECINCT,LICENSE_CODE,LICENSE_DESCRIPTION,LICENSE_NUMBER,LICENSE_TERM_START,LICENSE_TERM_EXPIRATION,LOCATION
0,48231-20130316,2226069,16964,6,Renaissance Hotel Operating Company,Renaissance Chicago Hotel,1 W Wacker Dr Serv/,Chicago,IL,60601 -,42,9.0,1475,Consumption on Premises - Incidental Activity,48231,3/16/13 9:53,3/15/15,"(41.88670422864661, -87.62805355978018)"
1,2320391-20190116,2635561,386344,1,Virgin Hotels Chicago Llc,Virgin Hotels Chicago Llc,203 N Wabash Ave,Chicago,IL,60601-,42,9.0,1006,Retail Food Establishment,2320391,1/16/19 16:35,1/15/21,"(41.885828292802344, -87.62613826248786)"
2,49253-20161016,2485088,64451,1,"Congress Plaza Hotel, Llc",The Congress Hotel,520 S Michigan Ave,Chicago,IL,60605-,42,49.0,1475,Consumption on Premises - Incidental Activity,49253,10/16/16 21:52,10/15/18,"(41.87525982581901, -87.6243966738356)"
3,2314251-20190116,2635577,388602,1,"Vhc Middle, Llc",Upstairs Virgin Hotels,203 N Wabash Ave 25,Chicago,IL,60601-,42,9.0,1050,Public Place of Amusement,2314251,1/16/19 16:54,1/15/21,"(41.885828292802344, -87.62613826248786)"
4,1803050-20140916,2345954,314818,1,Khrg Allegro Llc,Hotel Allegro,171 W Randolph St 1-19,Chicago,IL,60601-,42,9.0,1006,Retail Food Establishment,1803050,9/16/14 6:27,9/15/16,"(41.88436187748195, -87.63316453760919)"

### swapcase ( )

In [19]:
#Code Block 10

print (df_chicago.LICENSE_DESCRIPTION.str.swapcase().head())

0    cONSUMPTION ON pREMISES - iNCIDENTAL aCTIVITY
1                        rETAIL fOOD eSTABLISHMENT
2    cONSUMPTION ON pREMISES - iNCIDENTAL aCTIVITY
3                        pUBLIC pLACE OF aMUSEMENT
4                        rETAIL fOOD eSTABLISHMENT
Name: LICENSE_DESCRIPTION, dtype: object

### capitalize ( )

In [21]:
#Code Block 11

print (df_chicago.LICENSE_DESCRIPTION.str.capitalize().head())

0    Consumption on premises - incidental activity
1                        Retail food establishment
2    Consumption on premises - incidental activity
3                        Public place of amusement
4                        Retail food establishment
Name: LICENSE_DESCRIPTION, dtype: object

In [22]:
#Code Block 12

df_chicago['LICENSE_DESCRIPTION'] = df_chicago.LICENSE_DESCRIPTION.str.capitalize()
df_chicago.head()

,ID,LICENSE_ID,ACCOUNT_NUMBER,SITE_NUMBER,LEGAL_NAME,BUSINESS,ADDRESS,CITY,STATE,ZIPCODE,WARD,PRECINCT,LICENSE_CODE,LICENSE_DESCRIPTION,LICENSE_NUMBER,LICENSE_TERM_START,LICENSE_TERM_EXPIRATION,LOCATION
0,48231-20130316,2226069,16964,6,Renaissance Hotel Operating Company,Renaissance Chicago Hotel,1 W Wacker Dr Serv/,Chicago,IL,60601 -,42,9.0,1475,Consumption on premises - incidental activity,48231,3/16/13 9:53,3/15/15,"(41.88670422864661, -87.62805355978018)"
1,2320391-20190116,2635561,386344,1,Virgin Hotels Chicago Llc,Virgin Hotels Chicago Llc,203 N Wabash Ave,Chicago,IL,60601-,42,9.0,1006,Retail food establishment,2320391,1/16/19 16:35,1/15/21,"(41.885828292802344, -87.62613826248786)"
2,49253-20161016,2485088,64451,1,"Congress Plaza Hotel, Llc",The Congress Hotel,520 S Michigan Ave,Chicago,IL,60605-,42,49.0,1475,Consumption on premises - incidental activity,49253,10/16/16 21:52,10/15/18,"(41.87525982581901, -87.6243966738356)"
3,2314251-20190116,2635577,388602,1,"Vhc Middle, Llc",Upstairs Virgin Hotels,203 N Wabash Ave 25,Chicago,IL,60601-,42,9.0,1050,Public place of amusement,2314251,1/16/19 16:54,1/15/21,"(41.885828292802344, -87.62613826248786)"
4,1803050-20140916,2345954,314818,1,Khrg Allegro Llc,Hotel Allegro,171 W Randolph St 1-19,Chicago,IL,60601-,42,9.0,1006,Retail food establishment,1803050,9/16/14 6:27,9/15/16,"(41.88436187748195, -87.63316453760919)"

<h2 style="color:blue;">Strip and replace text using Pandas</h2>

In [24]:
#Code Block 13

df_chicago.ZIPCODE.head()

0     60601 -
1      60601-
2      60605-
3      60601-
4    60601-
Name: ZIPCODE, dtype: object

### len ( )

In [26]:
#Code Block 14

df_chicago.ZIPCODE.str.len().head()

0    7
1    6
2    8
3    6
4    8
Name: ZIPCODE, dtype: int64

## strip ( )
 - str.strip() - Remove leading and trailing characters in Series/Index.
 - str.lstrip() - Remove leading characters in Series/Index.
 - str.rstrip() - Remove trailing characters in Series/Index.

In [28]:
#Code Block 15

df_chicago.ZIPCODE.head()

0     60601 -
1      60601-
2      60605-
3      60601-
4    60601-
Name: ZIPCODE, dtype: object

#### strip ( )

In [30]:
#Code Block 16

df_chicago.ZIPCODE.str.strip().str.len().head()

0    7
1    6
2    6
3    6
4    6
Name: ZIPCODE, dtype: int64

#### lstrip ( )

In [32]:
#Code Block 17

df_chicago.ZIPCODE.str.lstrip().str.len().head()

0    7
1    6
2    6
3    6
4    8
Name: ZIPCODE, dtype: int64

#### rstrip ( )

In [34]:
#Code Block 18

df_chicago.ZIPCODE.str.rstrip().str.len().head()

0    7
1    6
2    8
3    6
4    6
Name: ZIPCODE, dtype: int64

### replace ( )

#### replace (  ) any whitespace with nothing ""

In [37]:
#Code Block 19

display(df_chicago.ZIPCODE.str.replace(' ', '').head())
df_chicago.ZIPCODE.str.replace(' ', '').str.len().head()

0    60601-
1    60601-
2    60605-
3    60601-
4    60601-
Name: ZIPCODE, dtype: object

0    6
1    6
2    6
3    6
4    6
Name: ZIPCODE, dtype: int64

#### replace ( ) any dash "-" with nothing ""

In [39]:
#Code Block 20

df_chicago['ZIPCODE'] = df_chicago.ZIPCODE.str.replace(' ', '') 
df_chicago['ZIPCODE'] = df_chicago.ZIPCODE.str.replace('-', '')
df_chicago.ZIPCODE.str.len().head()

0    5
1    5
2    5
3    5
4    5
Name: ZIPCODE, dtype: int64

In [40]:
#Code Block 21

df_chicago.head()

,ID,LICENSE_ID,ACCOUNT_NUMBER,SITE_NUMBER,LEGAL_NAME,BUSINESS,ADDRESS,CITY,STATE,ZIPCODE,WARD,PRECINCT,LICENSE_CODE,LICENSE_DESCRIPTION,LICENSE_NUMBER,LICENSE_TERM_START,LICENSE_TERM_EXPIRATION,LOCATION
0,48231-20130316,2226069,16964,6,Renaissance Hotel Operating Company,Renaissance Chicago Hotel,1 W Wacker Dr Serv/,Chicago,IL,60601,42,9.0,1475,Consumption on premises - incidental activity,48231,3/16/13 9:53,3/15/15,"(41.88670422864661, -87.62805355978018)"
1,2320391-20190116,2635561,386344,1,Virgin Hotels Chicago Llc,Virgin Hotels Chicago Llc,203 N Wabash Ave,Chicago,IL,60601,42,9.0,1006,Retail food establishment,2320391,1/16/19 16:35,1/15/21,"(41.885828292802344, -87.62613826248786)"
2,49253-20161016,2485088,64451,1,"Congress Plaza Hotel, Llc",The Congress Hotel,520 S Michigan Ave,Chicago,IL,60605,42,49.0,1475,Consumption on premises - incidental activity,49253,10/16/16 21:52,10/15/18,"(41.87525982581901, -87.6243966738356)"
3,2314251-20190116,2635577,388602,1,"Vhc Middle, Llc",Upstairs Virgin Hotels,203 N Wabash Ave 25,Chicago,IL,60601,42,9.0,1050,Public place of amusement,2314251,1/16/19 16:54,1/15/21,"(41.885828292802344, -87.62613826248786)"
4,1803050-20140916,2345954,314818,1,Khrg Allegro Llc,Hotel Allegro,171 W Randolph St 1-19,Chicago,IL,60601,42,9.0,1006,Retail food establishment,1803050,9/16/14 6:27,9/15/16,"(41.88436187748195, -87.63316453760919)"

<h2 style="color:blue;">Convert dates and extract month and year</h2>

In [42]:
#Code Block 22

df_chicago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       384 non-null    object
 1   LICENSE_ID               384 non-null    int64
 2   ACCOUNT_NUMBER           384 non-null    int64
 3   SITE_NUMBER              384 non-null    int64
 4   LEGAL_NAME               384 non-null    object
 5   BUSINESS                 384 non-null    object
 6   ADDRESS                  384 non-null    object
 7   CITY                     384 non-null    object
 8   STATE                    384 non-null    object
 9   ZIPCODE                  384 non-null    object
 10  WARD                     384 non-null    int64
 11  PRECINCT                 358 non-null    float64
 12  LICENSE_CODE             384 non-null    int64
 13  LICENSE_DESCRIPTION      384 non-null    object
 14  LICENSE_NUMBER           384 non-null    int64
 15  LICENSE_TERM_START       384 non-null    object
 16  LICENSE_TERM_EXPIRATION  384 non-null    object
 17  LOCATION                 384 non-null    object
dtypes: float64(1), int64(6), object(11)
memory usage: 54.1+ KB

In [43]:
#Code Block 23

df_chicago['LICENSE_TERM_START'] = pd.to_datetime(df_chicago['LICENSE_TERM_START'])
df_chicago['LICENSE_TERM_EXPIRATION'] = pd.to_datetime(df_chicago['LICENSE_TERM_EXPIRATION'])
df_chicago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       384 non-null    object
 1   LICENSE_ID               384 non-null    int64
 2   ACCOUNT_NUMBER           384 non-null    int64
 3   SITE_NUMBER              384 non-null    int64
 4   LEGAL_NAME               384 non-null    object
 5   BUSINESS                 384 non-null    object
 6   ADDRESS                  384 non-null    object
 7   CITY                     384 non-null    object
 8   STATE                    384 non-null    object
 9   ZIPCODE                  384 non-null    object
 10  WARD                     384 non-null    int64
 11  PRECINCT                 358 non-null    float64
 12  LICENSE_CODE             384 non-null    int64
 13  LICENSE_DESCRIPTION      384 non-null    object
 14  LICENSE_NUMBER           384 non-null    int64
 15  LICENSE_TERM_START       384 non-null    datetime64[ns]
 16  LICENSE_TERM_EXPIRATION  384 non-null    datetime64[ns]
 17  LOCATION                 384 non-null    object
dtypes: datetime64[ns](2), float64(1), int64(6), object(9)
memory usage: 54.1+ KB

/var/folders/ww/gvxz55x16sj2qt6_7hv99n0w0000gn/T/ipykernel_34036/1978368099.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_chicago['LICENSE_TERM_START'] = pd.to_datetime(df_chicago['LICENSE_TERM_START'])
/var/folders/ww/gvxz55x16sj2qt6_7hv99n0w0000gn/T/ipykernel_34036/1978368099.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_chicago['LICENSE_TERM_EXPIRATION'] = pd.to_datetime(df_chicago['LICENSE_TERM_EXPIRATION'])

#### [ns] stands for nanoseconds and refers to the span of the available years, which is +/- 292 years.
 - https://numpy.org/devdocs/reference/arrays.datetime.html

In [45]:
#Code Block 24

df_chicago.head()

,ID,LICENSE_ID,ACCOUNT_NUMBER,SITE_NUMBER,LEGAL_NAME,BUSINESS,ADDRESS,CITY,STATE,ZIPCODE,WARD,PRECINCT,LICENSE_CODE,LICENSE_DESCRIPTION,LICENSE_NUMBER,LICENSE_TERM_START,LICENSE_TERM_EXPIRATION,LOCATION
0,48231-20130316,2226069,16964,6,Renaissance Hotel Operating Company,Renaissance Chicago Hotel,1 W Wacker Dr Serv/,Chicago,IL,60601,42,9.0,1475,Consumption on premises - incidental activity,48231,2013-03-16 09:53:00,2015-03-15,"(41.88670422864661, -87.62805355978018)"
1,2320391-20190116,2635561,386344,1,Virgin Hotels Chicago Llc,Virgin Hotels Chicago Llc,203 N Wabash Ave,Chicago,IL,60601,42,9.0,1006,Retail food establishment,2320391,2019-01-16 16:35:00,2021-01-15,"(41.885828292802344, -87.62613826248786)"
2,49253-20161016,2485088,64451,1,"Congress Plaza Hotel, Llc",The Congress Hotel,520 S Michigan Ave,Chicago,IL,60605,42,49.0,1475,Consumption on premises - incidental activity,49253,2016-10-16 21:52:00,2018-10-15,"(41.87525982581901, -87.6243966738356)"
3,2314251-20190116,2635577,388602,1,"Vhc Middle, Llc",Upstairs Virgin Hotels,203 N Wabash Ave 25,Chicago,IL,60601,42,9.0,1050,Public place of amusement,2314251,2019-01-16 16:54:00,2021-01-15,"(41.885828292802344, -87.62613826248786)"
4,1803050-20140916,2345954,314818,1,Khrg Allegro Llc,Hotel Allegro,171 W Randolph St 1-19,Chicago,IL,60601,42,9.0,1006,Retail food establishment,1803050,2014-09-16 06:27:00,2016-09-15,"(41.88436187748195, -87.63316453760919)"

In [46]:
#Code Block 25

df_chicago['LICENSE_TERM_START_DATE'] = df_chicago['LICENSE_TERM_START'].dt.normalize()
df_chicago.head()

,ID,LICENSE_ID,ACCOUNT_NUMBER,SITE_NUMBER,LEGAL_NAME,BUSINESS,ADDRESS,CITY,STATE,ZIPCODE,WARD,PRECINCT,LICENSE_CODE,LICENSE_DESCRIPTION,LICENSE_NUMBER,LICENSE_TERM_START,LICENSE_TERM_EXPIRATION,LOCATION,LICENSE_TERM_START_DATE
0,48231-20130316,2226069,16964,6,Renaissance Hotel Operating Company,Renaissance Chicago Hotel,1 W Wacker Dr Serv/,Chicago,IL,60601,42,9.0,1475,Consumption on premises - incidental activity,48231,2013-03-16 09:53:00,2015-03-15,"(41.88670422864661, -87.62805355978018)",2013-03-16
1,2320391-20190116,2635561,386344,1,Virgin Hotels Chicago Llc,Virgin Hotels Chicago Llc,203 N Wabash Ave,Chicago,IL,60601,42,9.0,1006,Retail food establishment,2320391,2019-01-16 16:35:00,2021-01-15,"(41.885828292802344, -87.62613826248786)",2019-01-16
2,49253-20161016,2485088,64451,1,"Congress Plaza Hotel, Llc",The Congress Hotel,520 S Michigan Ave,Chicago,IL,60605,42,49.0,1475,Consumption on premises - incidental activity,49253,2016-10-16 21:52:00,2018-10-15,"(41.87525982581901, -87.6243966738356)",2016-10-16
3,2314251-20190116,2635577,388602,1,"Vhc Middle, Llc",Upstairs Virgin Hotels,203 N Wabash Ave 25,Chicago,IL,60601,42,9.0,1050,Public place of amusement,2314251,2019-01-16 16:54:00,2021-01-15,"(41.885828292802344, -87.62613826248786)",2019-01-16
4,1803050-20140916,2345954,314818,1,Khrg Allegro Llc,Hotel Allegro,171 W Randolph St 1-19,Chicago,IL,60601,42,9.0,1006,Retail food establishment,1803050,2014-09-16 06:27:00,2016-09-15,"(41.88436187748195, -87.63316453760919)",2014-09-16

### Create Month and Year

In [48]:
#Code Block 26

import pytz

In [49]:
#Code Block 27

df_chicago['START_MONTH'] = df_chicago['LICENSE_TERM_START'].dt.month
df_chicago['START_YEAR'] = df_chicago['LICENSE_TERM_START'].dt.year

df_chicago['EXPIRE_MONTH'] = df_chicago['LICENSE_TERM_EXPIRATION'].dt.month
df_chicago['EXPIRE_YEAR'] = df_chicago['LICENSE_TERM_EXPIRATION'].dt.year
df_chicago.head()

,ID,LICENSE_ID,ACCOUNT_NUMBER,SITE_NUMBER,LEGAL_NAME,BUSINESS,ADDRESS,CITY,STATE,ZIPCODE,WARD,PRECINCT,LICENSE_CODE,LICENSE_DESCRIPTION,LICENSE_NUMBER,LICENSE_TERM_START,LICENSE_TERM_EXPIRATION,LOCATION,LICENSE_TERM_START_DATE,START_MONTH,START_YEAR,EXPIRE_MONTH,EXPIRE_YEAR
0,48231-20130316,2226069,16964,6,Renaissance Hotel Operating Company,Renaissance Chicago Hotel,1 W Wacker Dr Serv/,Chicago,IL,60601,42,9.0,1475,Consumption on premises - incidental activity,48231,2013-03-16 09:53:00,2015-03-15,"(41.88670422864661, -87.62805355978018)",2013-03-16,3,2013,3,2015
1,2320391-20190116,2635561,386344,1,Virgin Hotels Chicago Llc,Virgin Hotels Chicago Llc,203 N Wabash Ave,Chicago,IL,60601,42,9.0,1006,Retail food establishment,2320391,2019-01-16 16:35:00,2021-01-15,"(41.885828292802344, -87.62613826248786)",2019-01-16,1,2019,1,2021
2,49253-20161016,2485088,64451,1,"Congress Plaza Hotel, Llc",The Congress Hotel,520 S Michigan Ave,Chicago,IL,60605,42,49.0,1475,Consumption on premises - incidental activity,49253,2016-10-16 21:52:00,2018-10-15,"(41.87525982581901, -87.6243966738356)",2016-10-16,10,2016,10,2018
3,2314251-20190116,2635577,388602,1,"Vhc Middle, Llc",Upstairs Virgin Hotels,203 N Wabash Ave 25,Chicago,IL,60601,42,9.0,1050,Public place of amusement,2314251,2019-01-16 16:54:00,2021-01-15,"(41.885828292802344, -87.62613826248786)",2019-01-16,1,2019,1,2021
4,1803050-20140916,2345954,314818,1,Khrg Allegro Llc,Hotel Allegro,171 W Randolph St 1-19,Chicago,IL,60601,42,9.0,1006,Retail food establishment,1803050,2014-09-16 06:27:00,2016-09-15,"(41.88436187748195, -87.63316453760919)",2014-09-16,9,2014,9,2016

### Create Year-Month for Expiration

In [51]:
#Code Block 28

df_chicago['EXPIRE_YEARMONTH'] = df_chicago['LICENSE_TERM_EXPIRATION'].dt.strftime('%Y%m')
df_chicago.head()

,ID,LICENSE_ID,ACCOUNT_NUMBER,SITE_NUMBER,LEGAL_NAME,BUSINESS,ADDRESS,CITY,STATE,ZIPCODE,WARD,PRECINCT,LICENSE_CODE,LICENSE_DESCRIPTION,LICENSE_NUMBER,LICENSE_TERM_START,LICENSE_TERM_EXPIRATION,LOCATION,LICENSE_TERM_START_DATE,START_MONTH,START_YEAR,EXPIRE_MONTH,EXPIRE_YEAR,EXPIRE_YEARMONTH
0,48231-20130316,2226069,16964,6,Renaissance Hotel Operating Company,Renaissance Chicago Hotel,1 W Wacker Dr Serv/,Chicago,IL,60601,42,9.0,1475,Consumption on premises - incidental activity,48231,2013-03-16 09:53:00,2015-03-15,"(41.88670422864661, -87.62805355978018)",2013-03-16,3,2013,3,2015,201503
1,2320391-20190116,2635561,386344,1,Virgin Hotels Chicago Llc,Virgin Hotels Chicago Llc,203 N Wabash Ave,Chicago,IL,60601,42,9.0,1006,Retail food establishment,2320391,2019-01-16 16:35:00,2021-01-15,"(41.885828292802344, -87.62613826248786)",2019-01-16,1,2019,1,2021,202101
2,49253-20161016,2485088,64451,1,"Congress Plaza Hotel, Llc",The Congress Hotel,520 S Michigan Ave,Chicago,IL,60605,42,49.0,1475,Consumption on premises - incidental activity,49253,2016-10-16 21:52:00,2018-10-15,"(41.87525982581901, -87.6243966738356)",2016-10-16,10,2016,10,2018,201810
3,2314251-20190116,2635577,388602,1,"Vhc Middle, Llc",Upstairs Virgin Hotels,203 N Wabash Ave 25,Chicago,IL,60601,42,9.0,1050,Public place of amusement,2314251,2019-01-16 16:54:00,2021-01-15,"(41.885828292802344, -87.62613826248786)",2019-01-16,1,2019,1,2021,202101
4,1803050-20140916,2345954,314818,1,Khrg Allegro Llc,Hotel Allegro,171 W Randolph St 1-19,Chicago,IL,60601,42,9.0,1006,Retail food establishment,1803050,2014-09-16 06:27:00,2016-09-15,"(41.88436187748195, -87.63316453760919)",2014-09-16,9,2014,9,2016,201609

In [52]:
#Code Block 29

df_chicago['LICENSE_TERM_EXPIRATION'].dt.strftime('%Y-%m').head()

0    2015-03
1    2021-01
2    2018-10
3    2021-01
4    2016-09
Name: LICENSE_TERM_EXPIRATION, dtype: object

In [53]:
#Code Block 30

df_chicago_dates = df_chicago[['LICENSE_TERM_START','LICENSE_TERM_START_DATE', 'LICENSE_TERM_EXPIRATION', ]].copy()
df_chicago_dates.head()

   LICENSE_TERM_START LICENSE_TERM_START_DATE LICENSE_TERM_EXPIRATION
0 2013-03-16 09:53:00              2013-03-16              2015-03-15
1 2019-01-16 16:35:00              2019-01-16              2021-01-15
2 2016-10-16 21:52:00              2016-10-16              2018-10-15
3 2019-01-16 16:54:00              2019-01-16              2021-01-15
4 2014-09-16 06:27:00              2014-09-16              2016-09-15

In [54]:
#Code Block 31

df_chicago_dates['LICENSE_LENGTH'] = df_chicago_dates['LICENSE_TERM_EXPIRATION'] - df_chicago_dates['LICENSE_TERM_START_DATE']
df_chicago_dates.head()

,LICENSE_TERM_START,LICENSE_TERM_START_DATE,LICENSE_TERM_EXPIRATION,LICENSE_LENGTH
0,2013-03-16 09:53:00,2013-03-16,2015-03-15,729 days
1,2019-01-16 16:35:00,2019-01-16,2021-01-15,730 days
2,2016-10-16 21:52:00,2016-10-16,2018-10-15,729 days
3,2019-01-16 16:54:00,2019-01-16,2021-01-15,730 days
4,2014-09-16 06:27:00,2014-09-16,2016-09-15,730 days

In [55]:
#Code Block 32

df_chicago_dates['LICENSE_LENGTH_DAYS'] = df_chicago_dates['LICENSE_LENGTH'] / np.timedelta64(1,'D')
display(df_chicago_dates.head())
df_chicago_dates.info()

,LICENSE_TERM_START,LICENSE_TERM_START_DATE,LICENSE_TERM_EXPIRATION,LICENSE_LENGTH,LICENSE_LENGTH_DAYS
0,2013-03-16 09:53:00,2013-03-16,2015-03-15,729 days,729.0
1,2019-01-16 16:35:00,2019-01-16,2021-01-15,730 days,730.0
2,2016-10-16 21:52:00,2016-10-16,2018-10-15,729 days,729.0
3,2019-01-16 16:54:00,2019-01-16,2021-01-15,730 days,730.0
4,2014-09-16 06:27:00,2014-09-16,2016-09-15,730 days,730.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   LICENSE_TERM_START       384 non-null    datetime64[ns]
 1   LICENSE_TERM_START_DATE  384 non-null    datetime64[ns]
 2   LICENSE_TERM_EXPIRATION  384 non-null    datetime64[ns]
 3   LICENSE_LENGTH           384 non-null    timedelta64[ns]
 4   LICENSE_LENGTH_DAYS      384 non-null    float64
dtypes: datetime64[ns](3), float64(1), timedelta64[ns](1)
memory usage: 15.1 KB

In [56]:
#Code Block 33

df_chicago_dates['LICENSE_LENGTH_WEEKS'] = round(df_chicago_dates['LICENSE_LENGTH'] / np.timedelta64(1,'W'),1)
display(df_chicago_dates.head())
df_chicago_dates.info()

,LICENSE_TERM_START,LICENSE_TERM_START_DATE,LICENSE_TERM_EXPIRATION,LICENSE_LENGTH,LICENSE_LENGTH_DAYS,LICENSE_LENGTH_WEEKS
0,2013-03-16 09:53:00,2013-03-16,2015-03-15,729 days,729.0,104.1
1,2019-01-16 16:35:00,2019-01-16,2021-01-15,730 days,730.0,104.3
2,2016-10-16 21:52:00,2016-10-16,2018-10-15,729 days,729.0,104.1
3,2019-01-16 16:54:00,2019-01-16,2021-01-15,730 days,730.0,104.3
4,2014-09-16 06:27:00,2014-09-16,2016-09-15,730 days,730.0,104.3

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   LICENSE_TERM_START       384 non-null    datetime64[ns]
 1   LICENSE_TERM_START_DATE  384 non-null    datetime64[ns]
 2   LICENSE_TERM_EXPIRATION  384 non-null    datetime64[ns]
 3   LICENSE_LENGTH           384 non-null    timedelta64[ns]
 4   LICENSE_LENGTH_DAYS      384 non-null    float64
 5   LICENSE_LENGTH_WEEKS     384 non-null    float64
dtypes: datetime64[ns](3), float64(2), timedelta64[ns](1)
memory usage: 18.1 KB

<h2 style="color:blue;">Viewing Current and Next Month's Expiring Licenses</h2> 

- Note: All licenses, including old/expired are included in this data

In [58]:
#Code Block 34

today = pd.to_datetime('today')
today

Timestamp('2024-11-17 13:26:08.857023')

In [59]:
#Code Block 35

df_chicago_dates['LICENSE_DAYS_TO_EXPIRE'] = df_chicago_dates['LICENSE_TERM_EXPIRATION'] - today
df_chicago_dates['LICENSE_DAYS_TO_EXPIRE'] = round(df_chicago_dates['LICENSE_DAYS_TO_EXPIRE'] / np.timedelta64(1,'D'), 0)
display(df_chicago_dates.head())
df_chicago_dates.info()

,LICENSE_TERM_START,LICENSE_TERM_START_DATE,LICENSE_TERM_EXPIRATION,LICENSE_LENGTH,LICENSE_LENGTH_DAYS,LICENSE_LENGTH_WEEKS,LICENSE_DAYS_TO_EXPIRE
0,2013-03-16 09:53:00,2013-03-16,2015-03-15,729 days,729.0,104.1,-3536.0
1,2019-01-16 16:35:00,2019-01-16,2021-01-15,730 days,730.0,104.3,-1403.0
2,2016-10-16 21:52:00,2016-10-16,2018-10-15,729 days,729.0,104.1,-2226.0
3,2019-01-16 16:54:00,2019-01-16,2021-01-15,730 days,730.0,104.3,-1403.0
4,2014-09-16 06:27:00,2014-09-16,2016-09-15,730 days,730.0,104.3,-2986.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   LICENSE_TERM_START       384 non-null    datetime64[ns]
 1   LICENSE_TERM_START_DATE  384 non-null    datetime64[ns]
 2   LICENSE_TERM_EXPIRATION  384 non-null    datetime64[ns]
 3   LICENSE_LENGTH           384 non-null    timedelta64[ns]
 4   LICENSE_LENGTH_DAYS      384 non-null    float64
 5   LICENSE_LENGTH_WEEKS     384 non-null    float64
 6   LICENSE_DAYS_TO_EXPIRE   384 non-null    float64
dtypes: datetime64[ns](3), float64(3), timedelta64[ns](1)
memory usage: 21.1 KB

### Set time from GMT to Central Time

In [61]:
#Code Block 36

for tz in pytz.all_timezones:
    print (tz)

Africa/Abidjan
Africa/Accra
Africa/Addis_Ababa
Africa/Algiers
Africa/Asmara
Africa/Asmera
Africa/Bamako
Africa/Bangui
Africa/Banjul
Africa/Bissau
Africa/Blantyre
Africa/Brazzaville
Africa/Bujumbura
Africa/Cairo
Africa/Casablanca
Africa/Ceuta
Africa/Conakry
Africa/Dakar
Africa/Dar_es_Salaam
Africa/Djibouti
Africa/Douala
Africa/El_Aaiun
Africa/Freetown
Africa/Gaborone
Africa/Harare
Africa/Johannesburg
Africa/Juba
Africa/Kampala
Africa/Khartoum
Africa/Kigali
Africa/Kinshasa
Africa/Lagos
Africa/Libreville
Africa/Lome
Africa/Luanda
Africa/Lubumbashi
Africa/Lusaka
Africa/Malabo
Africa/Maputo
Africa/Maseru
Africa/Mbabane
Africa/Mogadishu
Africa/Monrovia
Africa/Nairobi
Africa/Ndjamena
Africa/Niamey
Africa/Nouakchott
Africa/Ouagadougou
Africa/Porto-Novo
Africa/Sao_Tome
Africa/Timbuktu
Africa/Tripoli
Africa/Tunis
Africa/Windhoek
America/Adak
America/Anchorage
America/Anguilla
America/Antigua
America/Araguaina
America/Argentina/Buenos_Aires
America/Argentina/Catamarca
America/Argentina/ComodRivadavia
America/Argentina/Cordoba
America/Argentina/Jujuy
America/Argentina/La_Rioja
America/Argentina/Mendoza
America/Argentina/Rio_Gallegos
America/Argentina/Salta
America/Argentina/San_Juan
America/Argentina/San_Luis
America/Argentina/Tucuman
America/Argentina/Ushuaia
America/Aruba
America/Asuncion
America/Atikokan
America/Atka
America/Bahia
America/Bahia_Banderas
America/Barbados
America/Belem
America/Belize
America/Blanc-Sablon
America/Boa_Vista
America/Bogota
America/Boise
America/Buenos_Aires
America/Cambridge_Bay
America/Campo_Grande
America/Cancun
America/Caracas
America/Catamarca
America/Cayenne
America/Cayman
America/Chicago
America/Chihuahua
America/Ciudad_Juarez
America/Coral_Harbour
America/Cordoba
America/Costa_Rica
America/Creston
America/Cuiaba
America/Curacao
America/Danmarkshavn
America/Dawson
America/Dawson_Creek
America/Denver
America/Detroit
America/Dominica
America/Edmonton
America/Eirunepe
America/El_Salvador
America/Ensenada
America/Fort_Nelson
America/Fort_Wayne
America/Fortaleza
America/Glace_Bay
America/Godthab
America/Goose_Bay
America/Grand_Turk
America/Grenada
America/Guadeloupe
America/Guatemala
America/Guayaquil
America/Guyana
America/Halifax
America/Havana
America/Hermosillo
America/Indiana/Indianapolis
America/Indiana/Knox
America/Indiana/Marengo
America/Indiana/Petersburg
America/Indiana/Tell_City
America/Indiana/Vevay
America/Indiana/Vincennes
America/Indiana/Winamac
America/Indianapolis
America/Inuvik
America/Iqaluit
America/Jamaica
America/Jujuy
America/Juneau
America/Kentucky/Louisville
America/Kentucky/Monticello
America/Knox_IN
America/Kralendijk
America/La_Paz
America/Lima
America/Los_Angeles
America/Louisville
America/Lower_Princes
America/Maceio
America/Managua
America/Manaus
America/Marigot
America/Martinique
America/Matamoros
America/Mazatlan
America/Mendoza
America/Menominee
America/Merida
America/Metlakatla
America/Mexico_City
America/Miquelon
America/Moncton
America/Monterrey
America/Montevideo
America/Montreal
America/Montserrat
America/Nassau
America/New_York
America/Nipigon
America/Nome
America/Noronha
America/North_Dakota/Beulah
America/North_Dakota/Center
America/North_Dakota/New_Salem
America/Nuuk
America/Ojinaga
America/Panama
America/Pangnirtung
America/Paramaribo
America/Phoenix
America/Port-au-Prince
America/Port_of_Spain
America/Porto_Acre
America/Porto_Velho
America/Puerto_Rico
America/Punta_Arenas
America/Rainy_River
America/Rankin_Inlet
America/Recife
America/Regina
America/Resolute
America/Rio_Branco
America/Rosario
America/Santa_Isabel
America/Santarem
America/Santiago
America/Santo_Domingo
America/Sao_Paulo
America/Scoresbysund
America/Shiprock
America/Sitka
America/St_Barthelemy
America/St_Johns
America/St_Kitts
America/St_Lucia
America/St_Thomas
America/St_Vincent
America/Swift_Current
America/Tegucigalpa
America/Thule
America/Thunder_Bay
America/Tijuana
America/Toronto
America/Tortola
America/Vancouver
America/Virgin
America/Whitehorse
America/Winnipeg
America/Yakutat
America/Yellowknife
Antarctica/Casey
Antarctica/Davis
Antarctica/DumontDUrville
Antarctica/Macquarie
Antarctica/Mawson
Antarctica/McMurdo
Antarctica/Palmer
Antarctica/Rothera
Antarctica/South_Pole
Antarctica/Syowa
Antarctica/Troll
Antarctica/Vostok
Arctic/Longyearbyen
Asia/Aden
Asia/Almaty
Asia/Amman
Asia/Anadyr
Asia/Aqtau
Asia/Aqtobe
Asia/Ashgabat
Asia/Ashkhabad
Asia/Atyrau
Asia/Baghdad
Asia/Bahrain
Asia/Baku
Asia/Bangkok
Asia/Barnaul
Asia/Beirut
Asia/Bishkek
Asia/Brunei
Asia/Calcutta
Asia/Chita
Asia/Choibalsan
Asia/Chongqing
Asia/Chungking
Asia/Colombo
Asia/Dacca
Asia/Damascus
Asia/Dhaka
Asia/Dili
Asia/Dubai
Asia/Dushanbe
Asia/Famagusta
Asia/Gaza
Asia/Harbin
Asia/Hebron
Asia/Ho_Chi_Minh
Asia/Hong_Kong
Asia/Hovd
Asia/Irkutsk
Asia/Istanbul
Asia/Jakarta
Asia/Jayapura
Asia/Jerusalem
Asia/Kabul
Asia/Kamchatka
Asia/Karachi
Asia/Kashgar
Asia/Kathmandu
Asia/Katmandu
Asia/Khandyga
Asia/Kolkata
Asia/Krasnoyarsk
Asia/Kuala_Lumpur
Asia/Kuching
Asia/Kuwait
Asia/Macao
Asia/Macau
Asia/Magadan
Asia/Makassar
Asia/Manila
Asia/Muscat
Asia/Nicosia
Asia/Novokuznetsk
Asia/Novosibirsk
Asia/Omsk
Asia/Oral
Asia/Phnom_Penh
Asia/Pontianak
Asia/Pyongyang
Asia/Qatar
Asia/Qostanay
Asia/Qyzylorda
Asia/Rangoon
Asia/Riyadh
Asia/Saigon
Asia/Sakhalin
Asia/Samarkand
Asia/Seoul
Asia/Shanghai
Asia/Singapore
Asia/Srednekolymsk
Asia/Taipei
Asia/Tashkent
Asia/Tbilisi
Asia/Tehran
Asia/Tel_Aviv
Asia/Thimbu
Asia/Thimphu
Asia/Tokyo
Asia/Tomsk
Asia/Ujung_Pandang
Asia/Ulaanbaatar
Asia/Ulan_Bator
Asia/Urumqi
Asia/Ust-Nera
Asia/Vientiane
Asia/Vladivostok
Asia/Yakutsk
Asia/Yangon
Asia/Yekaterinburg
Asia/Yerevan
Atlantic/Azores
Atlantic/Bermuda
Atlantic/Canary
Atlantic/Cape_Verde
Atlantic/Faeroe
Atlantic/Faroe
Atlantic/Jan_Mayen
Atlantic/Madeira
Atlantic/Reykjavik
Atlantic/South_Georgia
Atlantic/St_Helena
Atlantic/Stanley
Australia/ACT
Australia/Adelaide
Australia/Brisbane
Australia/Broken_Hill
Australia/Canberra
Australia/Currie
Australia/Darwin
Australia/Eucla
Australia/Hobart
Australia/LHI
Australia/Lindeman
Australia/Lord_Howe
Australia/Melbourne
Australia/NSW
Australia/North
Australia/Perth
Australia/Queensland
Australia/South
Australia/Sydney
Australia/Tasmania
Australia/Victoria
Australia/West
Australia/Yancowinna
Brazil/Acre
Brazil/DeNoronha
Brazil/East
Brazil/West
CET
CST6CDT
Canada/Atlantic
Canada/Central
Canada/Eastern
Canada/Mountain
Canada/Newfoundland
Canada/Pacific
Canada/Saskatchewan
Canada/Yukon
Chile/Continental
Chile/EasterIsland
Cuba
EET
EST
EST5EDT
Egypt
Eire
Etc/GMT
Etc/GMT+0
Etc/GMT+1
Etc/GMT+10
Etc/GMT+11
Etc/GMT+12
Etc/GMT+2
Etc/GMT+3
Etc/GMT+4
Etc/GMT+5
Etc/GMT+6
Etc/GMT+7
Etc/GMT+8
Etc/GMT+9
Etc/GMT-0
Etc/GMT-1
Etc/GMT-10
Etc/GMT-11
Etc/GMT-12
Etc/GMT-13
Etc/GMT-14
Etc/GMT-2
Etc/GMT-3
Etc/GMT-4
Etc/GMT-5
Etc/GMT-6
Etc/GMT-7
Etc/GMT-8
Etc/GMT-9
Etc/GMT0
Etc/Greenwich
Etc/UCT
Etc/UTC
Etc/Universal
Etc/Zulu
Europe/Amsterdam
Europe/Andorra
Europe/Astrakhan
Europe/Athens
Europe/Belfast
Europe/Belgrade
Europe/Berlin
Europe/Bratislava
Europe/Brussels
Europe/Bucharest
Europe/Budapest
Europe/Busingen
Europe/Chisinau
Europe/Copenhagen
Europe/Dublin
Europe/Gibraltar
Europe/Guernsey
Europe/Helsinki
Europe/Isle_of_Man
Europe/Istanbul
Europe/Jersey
Europe/Kaliningrad
Europe/Kiev
Europe/Kirov
Europe/Kyiv
Europe/Lisbon
Europe/Ljubljana
Europe/London
Europe/Luxembourg
Europe/Madrid
Europe/Malta
Europe/Mariehamn
Europe/Minsk
Europe/Monaco
Europe/Moscow
Europe/Nicosia
Europe/Oslo
Europe/Paris
Europe/Podgorica
Europe/Prague
Europe/Riga
Europe/Rome
Europe/Samara
Europe/San_Marino
Europe/Sarajevo
Europe/Saratov
Europe/Simferopol
Europe/Skopje
Europe/Sofia
Europe/Stockholm
Europe/Tallinn
Europe/Tirane
Europe/Tiraspol
Europe/Ulyanovsk
Europe/Uzhgorod
Europe/Vaduz
Europe/Vatican
Europe/Vienna
Europe/Vilnius
Europe/Volgograd
Europe/Warsaw
Europe/Zagreb
Europe/Zaporozhye
Europe/Zurich
GB
GB-Eire
GMT
GMT+0
GMT-0
GMT0
Greenwich
HST
Hongkong
Iceland
Indian/Antananarivo
Indian/Chagos
Indian/Christmas
Indian/Cocos
Indian/Comoro
Indian/Kerguelen
Indian/Mahe
Indian/Maldives
Indian/Mauritius
Indian/Mayotte
Indian/Reunion
Iran
Israel
Jamaica
Japan
Kwajalein
Libya
MET
MST
MST7MDT
Mexico/BajaNorte
Mexico/BajaSur
Mexico/General
NZ
NZ-CHAT
Navajo
PRC
PST8PDT
Pacific/Apia
Pacific/Auckland
Pacific/Bougainville
Pacific/Chatham
Pacific/Chuuk
Pacific/Easter
Pacific/Efate
Pacific/Enderbury
Pacific/Fakaofo
Pacific/Fiji
Pacific/Funafuti
Pacific/Galapagos
Pacific/Gambier
Pacific/Guadalcanal
Pacific/Guam
Pacific/Honolulu
Pacific/Johnston
Pacific/Kanton
Pacific/Kiritimati
Pacific/Kosrae
Pacific/Kwajalein
Pacific/Majuro
Pacific/Marquesas
Pacific/Midway
Pacific/Nauru
Pacific/Niue
Pacific/Norfolk
Pacific/Noumea
Pacific/Pago_Pago
Pacific/Palau
Pacific/Pitcairn
Pacific/Pohnpei
Pacific/Ponape
Pacific/Port_Moresby
Pacific/Rarotonga
Pacific/Saipan
Pacific/Samoa
Pacific/Tahiti
Pacific/Tarawa
Pacific/Tongatapu
Pacific/Truk
Pacific/Wake
Pacific/Wallis
Pacific/Yap
Poland
Portugal
ROC
ROK
Singapore
Turkey
UCT
US/Alaska
US/Aleutian
US/Arizona
US/Central
US/East-Indiana
US/Eastern
US/Hawaii
US/Indiana-Starke
US/Michigan
US/Mountain
US/Pacific
US/Samoa
UTC
Universal
W-SU
WET
Zulu

In [62]:
#Code Block 37

df_chicago_dates['LICENSE_TERM_START'] = df_chicago_dates['LICENSE_TERM_START'].dt.tz_localize('GMT')
df_chicago_dates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   LICENSE_TERM_START       384 non-null    datetime64[ns, GMT]
 1   LICENSE_TERM_START_DATE  384 non-null    datetime64[ns]
 2   LICENSE_TERM_EXPIRATION  384 non-null    datetime64[ns]
 3   LICENSE_LENGTH           384 non-null    timedelta64[ns]
 4   LICENSE_LENGTH_DAYS      384 non-null    float64
 5   LICENSE_LENGTH_WEEKS     384 non-null    float64
 6   LICENSE_DAYS_TO_EXPIRE   384 non-null    float64
dtypes: datetime64[ns, GMT](1), datetime64[ns](2), float64(3), timedelta64[ns](1)
memory usage: 21.1 KB

In [63]:
#Code Block 38

df_chicago_dates['LICENSE_TERM_START_CT'] = df_chicago_dates['LICENSE_TERM_START'].dt.tz_convert('US/Central')
df_chicago_dates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   LICENSE_TERM_START       384 non-null    datetime64[ns, GMT]
 1   LICENSE_TERM_START_DATE  384 non-null    datetime64[ns]
 2   LICENSE_TERM_EXPIRATION  384 non-null    datetime64[ns]
 3   LICENSE_LENGTH           384 non-null    timedelta64[ns]
 4   LICENSE_LENGTH_DAYS      384 non-null    float64
 5   LICENSE_LENGTH_WEEKS     384 non-null    float64
 6   LICENSE_DAYS_TO_EXPIRE   384 non-null    float64
 7   LICENSE_TERM_START_CT    384 non-null    datetime64[ns, US/Central]
dtypes: datetime64[ns, GMT](1), datetime64[ns, US/Central](1), datetime64[ns](2), float64(3), timedelta64[ns](1)
memory usage: 24.1 KB

In [64]:
#Code Block 39

df_chicago_dates = df_chicago_dates.iloc[:, [0, 7, 1, 2, 6, 3, 4, 5,]]
df_chicago_dates.head()

,LICENSE_TERM_START,LICENSE_TERM_START_CT,LICENSE_TERM_START_DATE,LICENSE_TERM_EXPIRATION,LICENSE_DAYS_TO_EXPIRE,LICENSE_LENGTH,LICENSE_LENGTH_DAYS,LICENSE_LENGTH_WEEKS
0,2013-03-16 09:53:00+00:00,2013-03-16 04:53:00-05:00,2013-03-16,2015-03-15,-3536.0,729 days,729.0,104.1
1,2019-01-16 16:35:00+00:00,2019-01-16 10:35:00-06:00,2019-01-16,2021-01-15,-1403.0,730 days,730.0,104.3
2,2016-10-16 21:52:00+00:00,2016-10-16 16:52:00-05:00,2016-10-16,2018-10-15,-2226.0,729 days,729.0,104.1
3,2019-01-16 16:54:00+00:00,2019-01-16 10:54:00-06:00,2019-01-16,2021-01-15,-1403.0,730 days,730.0,104.3
4,2014-09-16 06:27:00+00:00,2014-09-16 01:27:00-05:00,2014-09-16,2016-09-15,-2986.0,730 days,730.0,104.3

In [65]:
#Code Block 40

df_chicago.head()

,ID,LICENSE_ID,ACCOUNT_NUMBER,SITE_NUMBER,LEGAL_NAME,BUSINESS,ADDRESS,CITY,STATE,ZIPCODE,WARD,PRECINCT,LICENSE_CODE,LICENSE_DESCRIPTION,LICENSE_NUMBER,LICENSE_TERM_START,LICENSE_TERM_EXPIRATION,LOCATION,LICENSE_TERM_START_DATE,START_MONTH,START_YEAR,EXPIRE_MONTH,EXPIRE_YEAR,EXPIRE_YEARMONTH
0,48231-20130316,2226069,16964,6,Renaissance Hotel Operating Company,Renaissance Chicago Hotel,1 W Wacker Dr Serv/,Chicago,IL,60601,42,9.0,1475,Consumption on premises - incidental activity,48231,2013-03-16 09:53:00,2015-03-15,"(41.88670422864661, -87.62805355978018)",2013-03-16,3,2013,3,2015,201503
1,2320391-20190116,2635561,386344,1,Virgin Hotels Chicago Llc,Virgin Hotels Chicago Llc,203 N Wabash Ave,Chicago,IL,60601,42,9.0,1006,Retail food establishment,2320391,2019-01-16 16:35:00,2021-01-15,"(41.885828292802344, -87.62613826248786)",2019-01-16,1,2019,1,2021,202101
2,49253-20161016,2485088,64451,1,"Congress Plaza Hotel, Llc",The Congress Hotel,520 S Michigan Ave,Chicago,IL,60605,42,49.0,1475,Consumption on premises - incidental activity,49253,2016-10-16 21:52:00,2018-10-15,"(41.87525982581901, -87.6243966738356)",2016-10-16,10,2016,10,2018,201810
3,2314251-20190116,2635577,388602,1,"Vhc Middle, Llc",Upstairs Virgin Hotels,203 N Wabash Ave 25,Chicago,IL,60601,42,9.0,1050,Public place of amusement,2314251,2019-01-16 16:54:00,2021-01-15,"(41.885828292802344, -87.62613826248786)",2019-01-16,1,2019,1,2021,202101
4,1803050-20140916,2345954,314818,1,Khrg Allegro Llc,Hotel Allegro,171 W Randolph St 1-19,Chicago,IL,60601,42,9.0,1006,Retail food establishment,1803050,2014-09-16 06:27:00,2016-09-15,"(41.88436187748195, -87.63316453760919)",2014-09-16,9,2014,9,2016,201609

In [66]:
#Code Block 41

df_chicago.groupby('EXPIRE_YEARMONTH')['ID'].count()

EXPIRE_YEARMONTH
201410    15
201502     1
201503    21
201504     2
201505     5
201506     3
201507     1
201511     1
201603     2
201604     2
201605     6
201606     1
201609    24
201610    15
201611     1
201701     7
201702     1
201703    19
201704     1
201705     5
201706     2
201707     1
201711     1
201803     5
201804     1
201805     6
201806     3
201809    24
201810    21
201811     1
201812     1
201901     7
201903    16
201904     1
201905     5
201906     6
201907     9
201908     1
201911     1
202002     2
202004     3
202005     5
202006    12
202008    13
202009    29
202010     4
202011     2
202012     1
202101     7
202103    16
202104     3
202105     6
202106     4
202107    10
202111     1
202202     2
202204     3
202205     5
202206    11
Name: ID, dtype: int64

### View Expirations per month that have not expired

- Use the variable that was create named **today** to filter out the expired dates

In [68]:
#Code Block 42

df_chicago[df_chicago['LICENSE_TERM_EXPIRATION'] >= today].groupby('EXPIRE_YEARMONTH')['ID'].count()

Series([], Name: ID, dtype: int64)

### Create a list of expiring licenses for this month

In [70]:
#Code Block 43
from datetime import datetime

currentYearMonth = datetime.today().strftime('%Y%m')
display(currentYearMonth)


#creates a string, so must convert to int to add 1 month - then convert back string
nextYearMonth = datetime.today().strftime('%Y%m') 
nextYearMonth = str(int(nextYearMonth)+1)

nextYearMonth

'202411'

'202412'

### Create Expiring Licenses List for Current Month

In [72]:
#Code Block 44

df_chicago_expire_current = df_chicago[df_chicago['EXPIRE_YEARMONTH']==currentYearMonth]
display(df_chicago_expire_current.info())
df_chicago_expire_current

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       0 non-null      object
 1   LICENSE_ID               0 non-null      int64
 2   ACCOUNT_NUMBER           0 non-null      int64
 3   SITE_NUMBER              0 non-null      int64
 4   LEGAL_NAME               0 non-null      object
 5   BUSINESS                 0 non-null      object
 6   ADDRESS                  0 non-null      object
 7   CITY                     0 non-null      object
 8   STATE                    0 non-null      object
 9   ZIPCODE                  0 non-null      object
 10  WARD                     0 non-null      int64
 11  PRECINCT                 0 non-null      float64
 12  LICENSE_CODE             0 non-null      int64
 13  LICENSE_DESCRIPTION      0 non-null      object
 14  LICENSE_NUMBER           0 non-null      int64
 15  LICENSE_TERM_START       0 non-null      datetime64[ns]
 16  LICENSE_TERM_EXPIRATION  0 non-null      datetime64[ns]
 17  LOCATION                 0 non-null      object
 18  LICENSE_TERM_START_DATE  0 non-null      datetime64[ns]
 19  START_MONTH              0 non-null      int32
 20  START_YEAR               0 non-null      int32
 21  EXPIRE_MONTH             0 non-null      int32
 22  EXPIRE_YEAR              0 non-null      int32
 23  EXPIRE_YEARMONTH         0 non-null      object
dtypes: datetime64[ns](3), float64(1), int32(4), int64(6), object(10)
memory usage: 0.0+ bytes

None

Empty DataFrame
Columns: [ID, LICENSE_ID, ACCOUNT_NUMBER, SITE_NUMBER, LEGAL_NAME, BUSINESS, ADDRESS, CITY, STATE, ZIPCODE, WARD, PRECINCT, LICENSE_CODE, LICENSE_DESCRIPTION, LICENSE_NUMBER, LICENSE_TERM_START, LICENSE_TERM_EXPIRATION, LOCATION, LICENSE_TERM_START_DATE, START_MONTH, START_YEAR, EXPIRE_MONTH, EXPIRE_YEAR, EXPIRE_YEARMONTH]
Index: []

### Create Expiring Licenses List for Next Month

In [74]:
#Code Block 45

df_chicago_expire_next = df_chicago[df_chicago['EXPIRE_YEARMONTH']==nextYearMonth]
display(df_chicago_expire_next.info())
df_chicago_expire_next

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       0 non-null      object
 1   LICENSE_ID               0 non-null      int64
 2   ACCOUNT_NUMBER           0 non-null      int64
 3   SITE_NUMBER              0 non-null      int64
 4   LEGAL_NAME               0 non-null      object
 5   BUSINESS                 0 non-null      object
 6   ADDRESS                  0 non-null      object
 7   CITY                     0 non-null      object
 8   STATE                    0 non-null      object
 9   ZIPCODE                  0 non-null      object
 10  WARD                     0 non-null      int64
 11  PRECINCT                 0 non-null      float64
 12  LICENSE_CODE             0 non-null      int64
 13  LICENSE_DESCRIPTION      0 non-null      object
 14  LICENSE_NUMBER           0 non-null      int64
 15  LICENSE_TERM_START       0 non-null      datetime64[ns]
 16  LICENSE_TERM_EXPIRATION  0 non-null      datetime64[ns]
 17  LOCATION                 0 non-null      object
 18  LICENSE_TERM_START_DATE  0 non-null      datetime64[ns]
 19  START_MONTH              0 non-null      int32
 20  START_YEAR               0 non-null      int32
 21  EXPIRE_MONTH             0 non-null      int32
 22  EXPIRE_YEAR              0 non-null      int32
 23  EXPIRE_YEARMONTH         0 non-null      object
dtypes: datetime64[ns](3), float64(1), int32(4), int64(6), object(10)
memory usage: 0.0+ bytes

None

Empty DataFrame
Columns: [ID, LICENSE_ID, ACCOUNT_NUMBER, SITE_NUMBER, LEGAL_NAME, BUSINESS, ADDRESS, CITY, STATE, ZIPCODE, WARD, PRECINCT, LICENSE_CODE, LICENSE_DESCRIPTION, LICENSE_NUMBER, LICENSE_TERM_START, LICENSE_TERM_EXPIRATION, LOCATION, LICENSE_TERM_START_DATE, START_MONTH, START_YEAR, EXPIRE_MONTH, EXPIRE_YEAR, EXPIRE_YEARMONTH]
Index: []

<h2 style="color:blue;">Split columns and format for export</h2>

In [76]:
#Code Block 46

df_chicago.head()

,ID,LICENSE_ID,ACCOUNT_NUMBER,SITE_NUMBER,LEGAL_NAME,BUSINESS,ADDRESS,CITY,STATE,ZIPCODE,WARD,PRECINCT,LICENSE_CODE,LICENSE_DESCRIPTION,LICENSE_NUMBER,LICENSE_TERM_START,LICENSE_TERM_EXPIRATION,LOCATION,LICENSE_TERM_START_DATE,START_MONTH,START_YEAR,EXPIRE_MONTH,EXPIRE_YEAR,EXPIRE_YEARMONTH
0,48231-20130316,2226069,16964,6,Renaissance Hotel Operating Company,Renaissance Chicago Hotel,1 W Wacker Dr Serv/,Chicago,IL,60601,42,9.0,1475,Consumption on premises - incidental activity,48231,2013-03-16 09:53:00,2015-03-15,"(41.88670422864661, -87.62805355978018)",2013-03-16,3,2013,3,2015,201503
1,2320391-20190116,2635561,386344,1,Virgin Hotels Chicago Llc,Virgin Hotels Chicago Llc,203 N Wabash Ave,Chicago,IL,60601,42,9.0,1006,Retail food establishment,2320391,2019-01-16 16:35:00,2021-01-15,"(41.885828292802344, -87.62613826248786)",2019-01-16,1,2019,1,2021,202101
2,49253-20161016,2485088,64451,1,"Congress Plaza Hotel, Llc",The Congress Hotel,520 S Michigan Ave,Chicago,IL,60605,42,49.0,1475,Consumption on premises - incidental activity,49253,2016-10-16 21:52:00,2018-10-15,"(41.87525982581901, -87.6243966738356)",2016-10-16,10,2016,10,2018,201810
3,2314251-20190116,2635577,388602,1,"Vhc Middle, Llc",Upstairs Virgin Hotels,203 N Wabash Ave 25,Chicago,IL,60601,42,9.0,1050,Public place of amusement,2314251,2019-01-16 16:54:00,2021-01-15,"(41.885828292802344, -87.62613826248786)",2019-01-16,1,2019,1,2021,202101
4,1803050-20140916,2345954,314818,1,Khrg Allegro Llc,Hotel Allegro,171 W Randolph St 1-19,Chicago,IL,60601,42,9.0,1006,Retail food establishment,1803050,2014-09-16 06:27:00,2016-09-15,"(41.88436187748195, -87.63316453760919)",2014-09-16,9,2014,9,2016,201609

In [77]:
#Code Block 47

df_chicago.LOCATION.str.split(',', expand=True).head()

                     0                     1
0   (41.88670422864661   -87.62805355978018)
1  (41.885828292802344   -87.62613826248786)
2   (41.87525982581901    -87.6243966738356)
3  (41.885828292802344   -87.62613826248786)
4   (41.88436187748195   -87.63316453760919)

In [78]:
#Code Block 48

df_chicago['Lat'] = df_chicago.LOCATION.str.split(',').str.get(0)
df_chicago['Long'] = df_chicago.LOCATION.str.split(',').str.get(1)
df_chicago.head()

,ID,LICENSE_ID,ACCOUNT_NUMBER,SITE_NUMBER,LEGAL_NAME,BUSINESS,ADDRESS,CITY,STATE,ZIPCODE,WARD,PRECINCT,LICENSE_CODE,LICENSE_DESCRIPTION,LICENSE_NUMBER,LICENSE_TERM_START,LICENSE_TERM_EXPIRATION,LOCATION,LICENSE_TERM_START_DATE,START_MONTH,START_YEAR,EXPIRE_MONTH,EXPIRE_YEAR,EXPIRE_YEARMONTH,Lat,Long
0,48231-20130316,2226069,16964,6,Renaissance Hotel Operating Company,Renaissance Chicago Hotel,1 W Wacker Dr Serv/,Chicago,IL,60601,42,9.0,1475,Consumption on premises - incidental activity,48231,2013-03-16 09:53:00,2015-03-15,"(41.88670422864661, -87.62805355978018)",2013-03-16,3,2013,3,2015,201503,(41.88670422864661,-87.62805355978018)
1,2320391-20190116,2635561,386344,1,Virgin Hotels Chicago Llc,Virgin Hotels Chicago Llc,203 N Wabash Ave,Chicago,IL,60601,42,9.0,1006,Retail food establishment,2320391,2019-01-16 16:35:00,2021-01-15,"(41.885828292802344, -87.62613826248786)",2019-01-16,1,2019,1,2021,202101,(41.885828292802344,-87.62613826248786)
2,49253-20161016,2485088,64451,1,"Congress Plaza Hotel, Llc",The Congress Hotel,520 S Michigan Ave,Chicago,IL,60605,42,49.0,1475,Consumption on premises - incidental activity,49253,2016-10-16 21:52:00,2018-10-15,"(41.87525982581901, -87.6243966738356)",2016-10-16,10,2016,10,2018,201810,(41.87525982581901,-87.6243966738356)
3,2314251-20190116,2635577,388602,1,"Vhc Middle, Llc",Upstairs Virgin Hotels,203 N Wabash Ave 25,Chicago,IL,60601,42,9.0,1050,Public place of amusement,2314251,2019-01-16 16:54:00,2021-01-15,"(41.885828292802344, -87.62613826248786)",2019-01-16,1,2019,1,2021,202101,(41.885828292802344,-87.62613826248786)
4,1803050-20140916,2345954,314818,1,Khrg Allegro Llc,Hotel Allegro,171 W Randolph St 1-19,Chicago,IL,60601,42,9.0,1006,Retail food establishment,1803050,2014-09-16 06:27:00,2016-09-15,"(41.88436187748195, -87.63316453760919)",2014-09-16,9,2014,9,2016,201609,(41.88436187748195,-87.63316453760919)

In [79]:
#Code Block 49

df_chicago['Lat'] = df_chicago.Lat.str.replace('(', '')
df_chicago['Long'] = df_chicago.Long.str.replace(')', '')
df_chicago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       384 non-null    object
 1   LICENSE_ID               384 non-null    int64
 2   ACCOUNT_NUMBER           384 non-null    int64
 3   SITE_NUMBER              384 non-null    int64
 4   LEGAL_NAME               384 non-null    object
 5   BUSINESS                 384 non-null    object
 6   ADDRESS                  384 non-null    object
 7   CITY                     384 non-null    object
 8   STATE                    384 non-null    object
 9   ZIPCODE                  384 non-null    object
 10  WARD                     384 non-null    int64
 11  PRECINCT                 358 non-null    float64
 12  LICENSE_CODE             384 non-null    int64
 13  LICENSE_DESCRIPTION      384 non-null    object
 14  LICENSE_NUMBER           384 non-null    int64
 15  LICENSE_TERM_START       384 non-null    datetime64[ns]
 16  LICENSE_TERM_EXPIRATION  384 non-null    datetime64[ns]
 17  LOCATION                 384 non-null    object
 18  LICENSE_TERM_START_DATE  384 non-null    datetime64[ns]
 19  START_MONTH              384 non-null    int32
 20  START_YEAR               384 non-null    int32
 21  EXPIRE_MONTH             384 non-null    int32
 22  EXPIRE_YEAR              384 non-null    int32
 23  EXPIRE_YEARMONTH         384 non-null    object
 24  Lat                      384 non-null    object
 25  Long                     384 non-null    object
dtypes: datetime64[ns](3), float64(1), int32(4), int64(6), object(12)
memory usage: 72.1+ KB

In [80]:
#Code Block 50

df_chicago['Lat'] = df_chicago['Lat'].astype(float)
df_chicago['Long'] = df_chicago['Long'].astype(float)
df_chicago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       384 non-null    object
 1   LICENSE_ID               384 non-null    int64
 2   ACCOUNT_NUMBER           384 non-null    int64
 3   SITE_NUMBER              384 non-null    int64
 4   LEGAL_NAME               384 non-null    object
 5   BUSINESS                 384 non-null    object
 6   ADDRESS                  384 non-null    object
 7   CITY                     384 non-null    object
 8   STATE                    384 non-null    object
 9   ZIPCODE                  384 non-null    object
 10  WARD                     384 non-null    int64
 11  PRECINCT                 358 non-null    float64
 12  LICENSE_CODE             384 non-null    int64
 13  LICENSE_DESCRIPTION      384 non-null    object
 14  LICENSE_NUMBER           384 non-null    int64
 15  LICENSE_TERM_START       384 non-null    datetime64[ns]
 16  LICENSE_TERM_EXPIRATION  384 non-null    datetime64[ns]
 17  LOCATION                 384 non-null    object
 18  LICENSE_TERM_START_DATE  384 non-null    datetime64[ns]
 19  START_MONTH              384 non-null    int32
 20  START_YEAR               384 non-null    int32
 21  EXPIRE_MONTH             384 non-null    int32
 22  EXPIRE_YEAR              384 non-null    int32
 23  EXPIRE_YEARMONTH         384 non-null    object
 24  Lat                      384 non-null    float64
 25  Long                     384 non-null    float64
dtypes: datetime64[ns](3), float64(3), int32(4), int64(6), object(10)
memory usage: 72.1+ KB

In [81]:
#Code Block 51

df_chicago.head()

,ID,LICENSE_ID,ACCOUNT_NUMBER,SITE_NUMBER,LEGAL_NAME,BUSINESS,ADDRESS,CITY,STATE,ZIPCODE,WARD,PRECINCT,LICENSE_CODE,LICENSE_DESCRIPTION,LICENSE_NUMBER,LICENSE_TERM_START,LICENSE_TERM_EXPIRATION,LOCATION,LICENSE_TERM_START_DATE,START_MONTH,START_YEAR,EXPIRE_MONTH,EXPIRE_YEAR,EXPIRE_YEARMONTH,Lat,Long
0,48231-20130316,2226069,16964,6,Renaissance Hotel Operating Company,Renaissance Chicago Hotel,1 W Wacker Dr Serv/,Chicago,IL,60601,42,9.0,1475,Consumption on premises - incidental activity,48231,2013-03-16 09:53:00,2015-03-15,"(41.88670422864661, -87.62805355978018)",2013-03-16,3,2013,3,2015,201503,41.886704,-87.628054
1,2320391-20190116,2635561,386344,1,Virgin Hotels Chicago Llc,Virgin Hotels Chicago Llc,203 N Wabash Ave,Chicago,IL,60601,42,9.0,1006,Retail food establishment,2320391,2019-01-16 16:35:00,2021-01-15,"(41.885828292802344, -87.62613826248786)",2019-01-16,1,2019,1,2021,202101,41.885828,-87.626138
2,49253-20161016,2485088,64451,1,"Congress Plaza Hotel, Llc",The Congress Hotel,520 S Michigan Ave,Chicago,IL,60605,42,49.0,1475,Consumption on premises - incidental activity,49253,2016-10-16 21:52:00,2018-10-15,"(41.87525982581901, -87.6243966738356)",2016-10-16,10,2016,10,2018,201810,41.875260,-87.624397
3,2314251-20190116,2635577,388602,1,"Vhc Middle, Llc",Upstairs Virgin Hotels,203 N Wabash Ave 25,Chicago,IL,60601,42,9.0,1050,Public place of amusement,2314251,2019-01-16 16:54:00,2021-01-15,"(41.885828292802344, -87.62613826248786)",2019-01-16,1,2019,1,2021,202101,41.885828,-87.626138
4,1803050-20140916,2345954,314818,1,Khrg Allegro Llc,Hotel Allegro,171 W Randolph St 1-19,Chicago,IL,60601,42,9.0,1006,Retail food establishment,1803050,2014-09-16 06:27:00,2016-09-15,"(41.88436187748195, -87.63316453760919)",2014-09-16,9,2014,9,2016,201609,41.884362,-87.633165

In [82]:
#Code Block 52

df_chicago['Lat'] = round(df_chicago['Lat'], 4)
df_chicago['Long'] = round(df_chicago['Long'], 4)
df_chicago.head()

,ID,LICENSE_ID,ACCOUNT_NUMBER,SITE_NUMBER,LEGAL_NAME,BUSINESS,ADDRESS,CITY,STATE,ZIPCODE,WARD,PRECINCT,LICENSE_CODE,LICENSE_DESCRIPTION,LICENSE_NUMBER,LICENSE_TERM_START,LICENSE_TERM_EXPIRATION,LOCATION,LICENSE_TERM_START_DATE,START_MONTH,START_YEAR,EXPIRE_MONTH,EXPIRE_YEAR,EXPIRE_YEARMONTH,Lat,Long
0,48231-20130316,2226069,16964,6,Renaissance Hotel Operating Company,Renaissance Chicago Hotel,1 W Wacker Dr Serv/,Chicago,IL,60601,42,9.0,1475,Consumption on premises - incidental activity,48231,2013-03-16 09:53:00,2015-03-15,"(41.88670422864661, -87.62805355978018)",2013-03-16,3,2013,3,2015,201503,41.8867,-87.6281
1,2320391-20190116,2635561,386344,1,Virgin Hotels Chicago Llc,Virgin Hotels Chicago Llc,203 N Wabash Ave,Chicago,IL,60601,42,9.0,1006,Retail food establishment,2320391,2019-01-16 16:35:00,2021-01-15,"(41.885828292802344, -87.62613826248786)",2019-01-16,1,2019,1,2021,202101,41.8858,-87.6261
2,49253-20161016,2485088,64451,1,"Congress Plaza Hotel, Llc",The Congress Hotel,520 S Michigan Ave,Chicago,IL,60605,42,49.0,1475,Consumption on premises - incidental activity,49253,2016-10-16 21:52:00,2018-10-15,"(41.87525982581901, -87.6243966738356)",2016-10-16,10,2016,10,2018,201810,41.8753,-87.6244
3,2314251-20190116,2635577,388602,1,"Vhc Middle, Llc",Upstairs Virgin Hotels,203 N Wabash Ave 25,Chicago,IL,60601,42,9.0,1050,Public place of amusement,2314251,2019-01-16 16:54:00,2021-01-15,"(41.885828292802344, -87.62613826248786)",2019-01-16,1,2019,1,2021,202101,41.8858,-87.6261
4,1803050-20140916,2345954,314818,1,Khrg Allegro Llc,Hotel Allegro,171 W Randolph St 1-19,Chicago,IL,60601,42,9.0,1006,Retail food establishment,1803050,2014-09-16 06:27:00,2016-09-15,"(41.88436187748195, -87.63316453760919)",2014-09-16,9,2014,9,2016,201609,41.8844,-87.6332

In [83]:
#Code Block 53

df_chicago.head()

,ID,LICENSE_ID,ACCOUNT_NUMBER,SITE_NUMBER,LEGAL_NAME,BUSINESS,ADDRESS,CITY,STATE,ZIPCODE,WARD,PRECINCT,LICENSE_CODE,LICENSE_DESCRIPTION,LICENSE_NUMBER,LICENSE_TERM_START,LICENSE_TERM_EXPIRATION,LOCATION,LICENSE_TERM_START_DATE,START_MONTH,START_YEAR,EXPIRE_MONTH,EXPIRE_YEAR,EXPIRE_YEARMONTH,Lat,Long
0,48231-20130316,2226069,16964,6,Renaissance Hotel Operating Company,Renaissance Chicago Hotel,1 W Wacker Dr Serv/,Chicago,IL,60601,42,9.0,1475,Consumption on premises - incidental activity,48231,2013-03-16 09:53:00,2015-03-15,"(41.88670422864661, -87.62805355978018)",2013-03-16,3,2013,3,2015,201503,41.8867,-87.6281
1,2320391-20190116,2635561,386344,1,Virgin Hotels Chicago Llc,Virgin Hotels Chicago Llc,203 N Wabash Ave,Chicago,IL,60601,42,9.0,1006,Retail food establishment,2320391,2019-01-16 16:35:00,2021-01-15,"(41.885828292802344, -87.62613826248786)",2019-01-16,1,2019,1,2021,202101,41.8858,-87.6261
2,49253-20161016,2485088,64451,1,"Congress Plaza Hotel, Llc",The Congress Hotel,520 S Michigan Ave,Chicago,IL,60605,42,49.0,1475,Consumption on premises - incidental activity,49253,2016-10-16 21:52:00,2018-10-15,"(41.87525982581901, -87.6243966738356)",2016-10-16,10,2016,10,2018,201810,41.8753,-87.6244
3,2314251-20190116,2635577,388602,1,"Vhc Middle, Llc",Upstairs Virgin Hotels,203 N Wabash Ave 25,Chicago,IL,60601,42,9.0,1050,Public place of amusement,2314251,2019-01-16 16:54:00,2021-01-15,"(41.885828292802344, -87.62613826248786)",2019-01-16,1,2019,1,2021,202101,41.8858,-87.6261
4,1803050-20140916,2345954,314818,1,Khrg Allegro Llc,Hotel Allegro,171 W Randolph St 1-19,Chicago,IL,60601,42,9.0,1006,Retail food establishment,1803050,2014-09-16 06:27:00,2016-09-15,"(41.88436187748195, -87.63316453760919)",2014-09-16,9,2014,9,2016,201609,41.8844,-87.6332

### Save as a csv file

In [85]:
#Code Block 54

df_chicago.to_csv('Scenario9_Data/chicago_hotels_clean.csv')

### Save as an Excel file 
- pip install xlsxwriter

In [90]:
#Code Block 55
import xlsxwriter

writer = pd.ExcelWriter('Scenario9_Data/chicago_hotels_clean.xlsx', engine = 'xlsxwriter')
df_chicago.to_excel(writer, sheet_name = 'Chicago')
df_chicago_expire_current.to_excel(writer, sheet_name = 'Expire_CurrentMonth')
df_chicago_expire_next.to_excel(writer, sheet_name = 'Expire_NextMonth')